// Font

@font-face {
  font-family: 'Roboto';
  src: url($Roboto-Regular);
}

@font-face {
  font-family: 'Roboto';
  src: url($Roboto-Bold);
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url($Roboto-Light);
  font-weight: 300;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.cooked {
  font-size: 16px;
}

// header
.d-header {
  background-color: #090d14;
}
.d-header-icons .icon:hover,
.d-header-icons .icon:focus {
  background: transparent;
}

// List controls
.list-controls .btn {
  height: 38px;
  border-radius: 6px;
}
.list-controls .combo-box .combo-box-header {
  background: $highlight;
  padding: 20px;
  border: 0px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px 0px;
  height: 10px;
}

#create-topic,
#display-modes .btn-danger,
button.btn-primary {
  letter-spacing: 0.5px;
  font-size: 15px;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px 0px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  background: #2C7DF7;
  border-width: 0px;
  border-radius: 6px;
  outline: 0px;
  .d-icon {
    color: white;
  }
}

// Navigation bar
#navigation-bar {
  width: auto;
  display: flex !important;

  li:first-child {
    border-radius: 6px 0 0 6px;
  }
  li:last-child {
    border-radius: 0 6px 6px 0;
    margin-right: -2px;
  }
  li {
    background: $quaternary;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px 0px;
    margin-right: 2px;
    a {
      padding: 11.5px 25px;
      font-size: 15px;
    }
    a:hover {
      background-color: transparent;
      color: $primary;
    }
  }
  li:hover {
    opacity: 0.5;
  }
  li.active {
    background-color: $highlight !important;
    a {
      color: $primary;
      background-color: transparent;
    }
  }
}

.topic-list {
  thead {
    tr {
      border-bottom: 0px;
      th {
        background: transparent;
        padding: 16px;
      }
    }
  }
  tbody {
    border-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px 0px;
    td {
      background: $highlight;
      padding: 16px;
    }
    tr:first-child {
      td:first-child {
        border-top-left-radius: 6px;
      }
      td:last-child {
        border-top-right-radius: 6px;
      }
    }
    tr:last-child {
      border-bottom: 0px solid transparent;
      td:first-child {
        border-bottom-left-radius: 6px;
      }
      td:last-child {
        border-bottom-right-radius: 6px;
      }
    }
  }
}

// User view
.user-nav.nav-pills > li.active > a,
.user-nav.nav-pills > li > a.active {
  letter-spacing: 0.5px;
  font-size: 15px;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px 0px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  background: #2C7DF7;
  border-width: 0px;
  border-radius: 6px;
  outline: 0px;
}

.badge-card {
  border-radius: 6px;
  background-color: $highlight;
  border: 0px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px 0px;
}

// Inside a topic
article div.row {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px 0px;
  background: $highlight;
  max-width: 772px;
  border-radius: 6px;
  margin-bottom: 30px;
  padding-left: 15px;
}
aside.onebox {
  background: $love;
  border: 0px solid transparent;
}
.names span a {
  font-size: 18px;
  line-height: 45px;
}
.embedded-posts.bottom .row .topic-avatar,
.embedded-posts.bottom .row .topic-body {
  border-top: 0;
}

.embedded-posts {
  border: 0px;
}

#topic-title h1 a {
  color: $header-background;
  line-height: 2;
}

// Like button
nav.post-controls .like-button:hover button,
nav.post-controls button.d-hover,
nav.post-controls button:focus,
nav.post-controls .like-button button.like.d-hover .d-icon {
  background: transparent;
  color: #de5739 !important;
}
nav.post-controls .like-button button.like.d-hover,
nav.post-controls .like-button:hover button,
nav.post-controls .like-button button.like-count + .toggle-like.d-hover,
nav.post-controls button.d-hover,
nav.post-controls button:focus {
  background: transparent;
}
nav.post-controls button.has-like .d-icon,
nav.post-controls .like-button:hover .d-icon,
nav.post-controls button.like.d-hover .d-icon,
nav.post-controls button.like:focus .d-icon,
nav.post-controls .like-button button.has-like .d-icon {
  color: #de5739;
}

.post-info.edits a {
  color: #f5a623 !important;
}

#topic-title {
  .badge-wrapper.bullet .badge-category-parent-bg,
  .badge-wrapper.bullet .badge-category-bg {
    width: 3px;
    height: 14px;
    position: relative;
    bottom: -4px;
  }
}

// Post Icons
.btn-flat .d-icon,
nav.post-controls a,
nav.post-controls button,
nav.post-controls .like-button .like-count,
.topic-meta-data .post-info a {
  color: #62829e;
}

span.post-count {
  background: black;
  color: #f9fafc;
  opacity: 0.8;
}

// Text colors
.category-list tbody .category h3 a[href],
.topic-list-main-link a.title,
.topic-list .main-link a.title,
.latest-topic-list-item .main-link a.title,
.topic-body .regular {
  color: $header-background;
}

.topic-body.highlighted {
  background: transparent;
  animation: background-fade-highlight 0s ease-out;
}

.list-cell,
.table-heading,
.category-list td,
.category-list th {
  color: $primary;
}

aside.quote .title {
  border-left: 5px solid darken($love, 10%);
  background-color: $love;
}
aside.quote blockquote,
blockquote {
  border-left: 5px solid darken($love, 10%);
  background-color: $love;
}
.reply .row {
  background: darken($love, 2.5%);
}
.topic-map {
  background: $love;
  border: 1px solid $love;
  margin-left: -45px;
  max-width: calc(100% + 30px);
  .buttons {
    display: none;
  }
  .map {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px 0px;
    border-top: 0px;
    li {
      padding: 7px 15px;
    }
    .number {
      color: $header-background;
    }
  }
  ul {
    li:first-child,
    li:nth-child(2) {
      border-right: 1px solid lighten($love, 5%);
    }
  }
  li.avatars {
    border-left: 1px solid lighten($love, 5%);
    .avatar {
      margin-right: 7px;
    }
  }
  .buttons .btn {
    background: darken($love, 10%);
  }
  h4 {
    color: $primary;
  }
}

@media only screen and (min-width: 394px) and (max-width: 704px) {
  .topic-map {
    ul {
      li:first-child,
      li:nth-child(2),
      li.avatars {
        width: 100%;
      }
    }
  }
}

// Top topics

.select-kit .select-kit-row.is-selected {
  background: #737373;
}

// History display modes
.discourse-no-touch .btn:hover,
.discourse-no-touch .btn.btn-hover {
  line-height: 1.5;
  color: rgb(255, 255, 255);
  background: #2C7DF7;
  opacity: 0.5;
  border-radius: 6px;
  .d-icon {
    color: rgb(255, 255, 255);
  }
}

// Notifications
.user-menu .notifications li {
  background: transparent;
}
.user-menu .notifications li:hover,
.user-menu .notifications li:focus,
.select-kit .select-kit-row.is-highlighted,
.select-kit .select-kit-row.is-selected {
  background-color: lighten($tertiary, 40%);
  opacity: 0.8;
}
.menu-panel li a:hover,
.menu-panel li a:focus,
.menu-panel li.heading a:hover,
.menu-panel li.heading a:focus {
  background-color: transparent;
  outline: none;
}

// Alerts
.alert.alert-info {
  background-color: lighten($tertiary, 40%);
  opacity: 0.8;
  color: darken($primary, 15%);
  border-radius: 6px;
}

// Time selector
.select-kit.dropdown-select-box.period-chooser
  .period-chooser-row
  .top-date-string {
  font-size: 14px;
  margin-left: 14px;
  line-height: 22px;
}

button.period-chooser-header,
button.period-chooser-header:hover {
  box-shadow: none !important;
  line-height: 1.5 !important;
  opacity: 1 !important;
  h2 {
    font-size: 20px;
    .top-date-string {
      font-size: 15px !important;
      margin-left: 14px;
    }
  }
}

#login-buttons .btn {
  line-height: 1;
}

.header-buttons .btn:hover {
  padding: 6px 10px;
}

.btn {
  line-height: 1.5;
  border-radius: 6px;
  padding: 8px 15px;
}

.btn-primary {
  letter-spacing: 0.5px;
  font-size: 15px;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px 0px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  background: #2C7DF7;
  border-width: 0px;
  border-radius: 6px;
  outline: 0px;
  .d-icon {
    color: white;
  }
}
nav.post-controls button {
  line-height: 1.5;
  border-radius: 6px;
}
nav.post-controls button.d-hover,
nav.post-controls button:focus {
  border-radius: 6px;
}
.timeline-container .topic-timeline .timeline-handle {
  background-color: $tertiary;
}
.timeline-container .topic-timeline .timeline-scrollarea {
  border-color: $tertiary;
}
#share-link {
  border-radius: 6px;
}

// Footer
.footer-section {
  background-color: $header-primary;
  width: calc(100% - 30px);
  padding: 30px 15px;
  position: relative;
  overflow-x: hidden;
}
.footer-section input {
  background: transparent;
}
.section-container {
  max-width: 1100px;
  width: 95%;
  margin: auto;
}
.logo-footer-img {
  height: 50px;
}
.footer-container {
  display: grid;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 33.32%;
  grid-template-rows: auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.footer-item.mobile-full {
  grid-column-start: 1;
  grid-column-end: inherit;
  grid-column-start: inherit;
}
.footer-item a {
  display: block;
  font-family: "FontRegular", sans-serif;
  font-size: 14px;
  line-height: 3.14;
  color: #7f8198;
  cursor: pointer;
  text-decoration: none;
}
.footer-item a:hover {
  opacity: 0.8;
}
.footer-item p,
.footer-item form {
  font-family: "FontRegular", sans-serif;
  font-size: 14px;
  line-height: 3.14;
  color: #7f8198;
}
.form-button {
  margin-left: 15px;
  opacity: 0.35;
  border-radius: 3px;
  background-image: linear-gradient(72deg, #00dbe2, #01bfe3);
  color: white;
  border: solid 0px transparent;
  padding: 0 30px;
  line-height: 2.4;
  outline: none;
  cursor: pointer;
}
.form-button:hover {
  opacity: 0.8;
}
.footer-form {
  height: 43px !important;
  display: flex;
  align-items: center;
}
.form-input {
  line-height: 2;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: solid 1px #d8d8d8 !important;
  background: transparent;
  outline: none;
  padding-left: 0 !important;
  box-shadow: none !important;
}
.footer-item-p {
  font-size: 14px;
  line-height: 3.14;
  color: rgb(127, 129, 152);
  margin: 0;
}

.footer-box {
  margin: 0 -15px;
  height: 43px;
  display: flex;
  align-items: center;
}
.footer-box a {
  display: inline;
  padding: 0 15px;
  text-decoration: none;
}
.riot {
  height: 26px;
  width: 26px;
}

#footer_links a {
  color: black;
  font-weight: bold;
  cursor: pointer;
}

#footer_links a:hover {
  color: black;
  box-shadow: black 0 -1px 0 inset;
}

@media (max-width: 745px) {
  .footer-container {
    grid-template-columns: 33% !important;
  }
  .mobile-full {
    grid-column-start: 1 !important;
    grid-column-end: 4 !important;
  }
}

// Hero
.hero {
  background: #0d131e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  right: 0;
  top: 54px;
  height: 260px;
  overflow: hidden;
  h1 {
    display: flex;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%);
    color: #fff;
    font-family: "Roboto", sans-serif;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    font-weight: 300;
  }
}

.hero-container {
  min-height: 290px;
}

@media (min-width: 780px) {
  div.hero {
    justify-content: space-evenly;
    top: 60px;
    h1 {
      display: block;
      font-family: "Roboto", sans-serif;
      line-height: 56px;
      font-size: 42px;
      font-weight: 300;
      color: #fff;
      transform: none;
      position: inherit;
      text-align: left;
    }
  }
}

.wrap {
  max-width: 1052px;
}

.embedded-posts .topic-avatar {
  padding-left: 0;
}
.latest-topic-list .table-heading {
  line-height: 61px;
  padding-bottom: 0;
}

body[class*="archetype-"] .hero-container,
body[class*="archetype-"] .hero {
  display: none;
}

.extra-info-wrapper .topic-link {
  color: white;
}
.latest-topic-list {
  .badge-wrapper.bar span.badge-category {
    color: $primary;
  }
  .table-heading {
    color: $primary;
  }
  .latest-topic-list-item {
    padding: 1.5em;
    background: $highlight;
  }
  .table-heading:first-child {
    border-bottom: 0 transparent;
  }
  .latest-topic-list-item:nth-child(2) {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .latest-topic-list-item:nth-last-child(2) {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.more-topics {
  a {
    width: 100%;
  }
}

.select-kit.combo-box.category-drop.bar.has-selection .category-drop-header {
  padding: 20px;
  border: 0px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px 0px;
}
.select-kit.combo-box .select-kit-row {
  padding: 18px;
}
a.title:visited:not(.badge-notification),
.topic-list-item.visited a.title:not(.badge-notification),
.topic-list .anon .main-link a.title:visited:not(.badge-notification),
.anon
  .latest-topic-list-item
  .main-link
  a.title:visited:not(.badge-notification),
.latest-topic-list-item
  .anon
  .main-link
  a.title:visited:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
  color: $primary;
}
.subcategories {
  span.badge-category {
    color: $header_background;
  }
}

a.mention,
a.mention-group {
  color: $tertiary;
}
.names .new_user a,
.names .user-title,
.names .user-title a {
  color: $primary;
}
.nav-pills > li.active > a,
.nav-pills > li a.active {
  color: $header_background;
  background-color: $quaternary;
}

.badge-wrapper.bar .badge-category-bg {
  width: 4px;
  margin-right: 2px;
}

.badge-wrapper.bar .badge-category-parent-bg {
  width: 4px;
}

#topic-title .title-wrapper {
  margin-bottom: 30px;
}

.composer-popup {
  color: #191414;
  background: #dfecfe;
}

.moderator .regular>.cooked {
  background-color: #333333c4;
  padding: 10px;
  color: white;
  border-radius: 6px;
}

.topic-avatar, .topic-body {
  border-top: 0;
}

.modal.history-modal span.edit-reason {
  background-color: transparent;
}

.menu-panel li a.widget-link:hover, .user-menu .quick-access-panel li:hover {
  background-color: #f1f6fe;
}

.nav-pills>li>a:hover {
  color: $header-background;
}
